.page-header{
	font-size: xx-large;
	font-family: 'Dejavu Sans', sans-serif;
	text-align: center;
}

.page-header p{
	color: grey;
	font-size: x-large;
}

.rule {
	height: 40px;
}

.form{
	vertical-align: center;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 10px 10px 8px gray;
	background-color: #b4e3dd;
	width: 600px;
	height: 450px;
	padding: 2%;
}

input{
    height: 27 px;
}